@import '../../../styles/colors.styles.scss';

.file-tile {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .ft-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .f-name {
      font-size: 16px;
      font-weight: 500;
    }

    .f-type {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .file-options {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    color: $disabled_gray;
  }
}
