@import '../../styles/colors.styles.scss';

$button_width: 60px;

.ob-section {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgba($color: $dark_blue, $alpha: 0.15);
  padding: 25px;

  .ob-waves-top {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
  }

  .ob-waves-bottom {
    position: absolute;
    width: 30vw;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
  }

  .ob-col {
    display: flex;
    max-width: 380px;
    margin: 0 auto;
    margin-top: 30px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;

    .ob-img {
      width: 100%;
      height: auto;
      max-height: 400px;
      margin-bottom: 26px;

      img {
        object-fit: contain;
        object-position: right;
        width: 100%;
        height: 100%;
      }
    }

    h4 {
      font-size: 24px;
      font-weight: 600;
      color: $dark_blue;
      margin-bottom: 26px;
    }

    .ob-go {
      width: $button_width;
      height: $button_width;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}
