@import '../../../styles/values.scss';
@import '../../../styles/colors.styles.scss';

.summary {
  width: 100vw;
  max-width: 100%;
  height: auto;
  background-color: $home_blue;
  top: calc(#{$status_bar_height} + 18px);
  left: 0;
  color: white;
  font-weight: 600;
  padding: 25px;

  .smry-greeting {
    font-size: 34px;
    text-transform: capitalize;
  }

  .smry-subtitle {
    font-size: 20px;
    opacity: 0.5;
  }
}
