$thumb-size: 28px;

.shr-thumb {
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 10px;
  margin-left: -10px;
  background-color: aqua;
  background-size: contain;
  background-repeat: no-repeat;

  &:first-child{
    margin-left: 0;
  }
}
