@import '../../../../styles/colors.styles.scss';

$folder_size: 150px;

.folder {
  width: $folder_size;
  height: $folder_size;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  border-radius: 30px;
  background-color: #f5f7fc;

  .fld-title {
    font-size: 16px;
    font-weight: 500;
    max-width: 75%;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .fld-subtext {
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
    color: $disabled_gray;
  }

  .options-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    color: $disabled_gray;
  }

  .sharers-row {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
