$dark_blue: #6893fd;
$blue: #8bacff;
$text_blue: #345095;
$light_blue: #cedbff;
$pink: #ff6aa2;
$home_blue: #4274eb;
$disabled_gray: #959fba;
$black: #242833;

$nav_link_active: #5786f8;
$nav_link_bg: #e8efff;